<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Python API</title>
    </head>
    <body>
        <div class="container">
            <form name="Escuela">
                <div class="form-group">
                    <label for="Localidad">Localidad</label>
                    <select name="Localidad">
                        <option value="1">25 DE MAYO</option>
                        <option value="2">AGUSTIN MOSCONI</option>
                        <option value="3">DEL VALLE</option>
                        <option value="4">ERNESTINA</option>
                        <option value="5">GOBERNADOR UGARTE</option>
                        <option value="6">HUETEL</option>
                        <option value="7">LUCAS MONTEVERDE</option>
                        <option value="8">NORBERTO DE LA RIESTRA</option>
                        <option value="9">ORTIZ DE ROZAS</option>
                        <option value="10">PEDERNALES</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Sector">Sector</label>
                    <select name="Sector">
                        <option value="1">Estatal</option>
                        <option value="2">Privado</option>
                        <option value="3">Social/cooperativa</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Ambito">Ambito</label>
                    <select name="Ambito">
                        <option value="2">Rural</option>
                        <option value="3">Sin Información</option>
                        <option value="1">Urbano</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Codigo">Codigo:</label>
                    <input type="VAR_STRING" class="form-control" id="Codigo" placeholder="Codigo" required/>
                </div>
                <div class="form-group">
                    <label for="Nombre">Nombre:</label>
                    <input type="VAR_STRING" class="form-control" id="Nombre" placeholder="Nombre" required/>
                </div>
                <div class="form-group">
                    <label for="Domicilio">Domicilio:</label>
                    <input type="VAR_STRING" class="form-control" id="Domicilio" placeholder="Domicilio" required/>
                </div>
                <div class="form-group">
                    <label for="Codpos">Codpos:</label>
                    <input type="VAR_STRING" class="form-control" id="Codpos" placeholder="Codpos" />
                </div>
            </form>
        </div>
    </body>
</html>